{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/debate_index.css' %}">
    <title>Chooser - 토론 목록</title>

    <!-- <div class="make_debate">
        <a href="{% url 'debate_create' %}">
        <div class="plus_btn">
            <button>글쓰기</button>
        </div>
        </a>
    </div> -->


    {% comment %} bootstrap {% endcomment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div class="all_deb_index">
    <!-- 상단(로고, 주제) -->
    <a href="{% url 'to_main' %}" class="main_logo_warper">
        <img src="{% static 'Img/logo.png' %}" class="main_logo">
    </a> 
    <h1>이것! 저것! 둘 중 하나!</h1>

    <!-- 정렬 -->
    <!-- <select>
        <option>랜덤 순</option>
        <option>조회 높은 순</option>
        <option>참여 높은 순</option>
        <option>최신 순</option>
        <option>오래된 순</option>
    </select> -->
    
    <!-- 목록 -->
    <h3>골라골라!!</h3>

    {% for debate in posts %}
    <a href="{% url 'debate_detail' debate.debate_id %}">
        <div class="big_box">
            <div class="small_box">
                <div class="preview_all">
                    <div class="big_preview">
                    <img class="preview" src="{{ debate.debate_img1.url }}">
                    </div>
                    <div class="big_preview">
                    <img class="preview" src="{{ debate.debate_img2.url }}">
                    </div>
                </div>
                <div class="big_title">
                    <p class="title">{{debate.debate_img1_name1}} vs {{debate.debate_img2_name2}}</p>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}

    {% comment %} 버튼 {% endcomment %}
    
    <!-- 페이지네이션 -->
    <div class="debate_pagination">
        <!-- 이전 페이지(True일 시) 불러오기 -->
        {% if posts.has_previous %}
        <a href="?page=1">맨 앞으로</a>
        <a href="?page={{posts.previous_page_number}}">이전으로</a>
        {% endif %}
  
        <!-- 현재&총 페이지 넘버 불러오기 -->
        <span>{{posts.number}}</span>
        <span>/</span>
        <span>{{posts.paginator.num_pages}}</span>
  
        <!-- 다음 페이지(True일 시) 불러오기-->
        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}">다음으로</a>
        <a href="?page={{posts.paginator.num_pages}}">맨 뒤로</a>
        {% endif %}
    </div>
</div>
</body>
</html>