{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/prefer_detail.css'%}">
    <title>Chooser - 취향</title>
</head>
<body>
    <!-- 상단(로고, 주제) -->
    <!-- 주제: {{topic_content}} -->

    <!-- 제목 -->
    <br>
    제목: {{my_prefer.prefer_title}}
    <br>
    작성자: {{my_prefer.prefer_member_id}}
    <br>
    {% comment %} 글 사진 {% endcomment %}
    <img src="{{ my_prefer.prefer_file.url }}" >
    <br>
    <!-- 글 내용 -->
    내용: {{my_prefer.prefer_content}}
    <br>
    {{my_prefer.prefer_date|date:"Y.m.d"}}
    <br>

    
    <!-- 좋아요 기능 -->
    <button>좋아요</button>
    {% if user == my_prefer.prefer_member_id %}
    <a href="{% url 'prefer_update' my_prefer.prefer_id %}"><button>수정</button></a>
    <a href="{% url 'prefer_delete' my_prefer.prefer_id %}"><button>삭제</button></a>
    {% endif%}
    <a href="{% url 'prefer_index' %}"><button>목록</button></a>

    <!-- 댓글기능 -->
    <br>
    <!-- create_comment url 문제 -->
    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'prefer_create_comment' my_prefer.prefer_id %}">
        {% csrf_token %}        
        {{prefer_comment_form}}
        <input type="submit" value="댓글달기!">
        </form>
    {% endif %}

    {% comment %} {% for prefer_comment in my_prefer.prefer_comment_set.all %} -> comment_prefer로 해야되는데 잘못했엇움! {% endcomment %}

<!-- 댓글 수정&삭제 -->
{% for comment_prefer in my_prefer.comment_prefer_set.all %}

<p>
    {{comment_prefer.com_pre_member_id}} 🤦‍♂️ {{comment_prefer.com_pre_content}}
    {% if user == comment_prefer.com_pre_member_id %}
    {% comment %} <a href="{% url 'prefer_update_comment' my_prefer.prefer_id comment_prefer.com_pre_id %}"> 
       
        <button>수정</button>
    </a> {% endcomment %}
    <a href="{% url 'prefer_delete_comment' my_prefer.prefer_id comment_prefer.com_pre_id %}">    
        <button>삭제</button>
    </a>
    {% endif %}
</p>

{% endfor %}





    {% comment %} <br>
    <textarea cols="50" rows="2" name="fulltext" placeholder="댓글을 입력하세요!"></textarea>
    <button>댓글달기</button> {% endcomment %}
