@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


.container marketing{
    font-family: 'Nanum Gothic', sans-serif;
}/*폰트@@@*/

a{
    text-decoration : none;
    
    font-family: 'Nanum Gothic', sans-serif;
}
.row{
    text-align: center;
}

.main-title{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 2em;
}