.login-block{
    position: relative;
    width: 100%;
    height: 100%;

    text-align: center;
}
.login-content{
    /* 위치 */
    margin:0 auto; /*<---가운데로 배치 시켜줌*/

    /* 크기 */
    width: 50vw;
    height: 50vh;

    /* 둘레 */
    border: solid 2px #63A6CC;
    border-radius:  5px;
}

.login-label, .login, .social-login-content{
    margin : 1em;
}

.login-label{
    text-align: center;

    /* font */
    font-size: 2em; 

}
.social-login-content{
    /* 위치 */
    position: center;
}
.btn-social-login-google, .btn-social-login-naver{
    border-radius: 5px;
    border: None;

    width: 15vw;
    height: 5vh;

    color: white;
}
.btn-social-login-google{
    background:#FE2E2E;
}
.btn-social-login-naver{
    background:#1ec800;
}

.btn-login {
    /* 위치 */
    float: right;

    border-radius: 5px;
    border: None;

    width: 15vw;
    height: 5vh;

    color: white;
    background-color:  #63A6CC;
}